body {
	background: url(../img/dbg.jpg) repeat !important;
}
		
#content {
	background: url(../img/retina_wood.png) repeat;
	filter: none;
	padding: 25px 40px 25px 40px;
	margin: -25px -4px;
	position: relative;
	z-index: 1px;
}	
	
.sidebar-nav > ul{
	margin: 20px 0px 0px -20px;
	border-top: 1px solid #0a0c0e !important;
  	border-bottom: 1px solid #212121 !important;
	border-left: none;
	border-right: none;
	padding-bottom: 1px;
}

.nav-tabs.nav-stacked > li > a {
  	margin: 1px 0px 0px 0px;
	padding-left: 20px;
	color: #ddd;
	border-top: 1px solid #212121;
  	border-bottom: 1px solid #0a0c0e;
	border-left: none;
	border-right: none;
  	background: none !important;
	filter: none;
	text-shadow: 0px 1px 1px #000;
}

.nav-tabs.nav-stacked > li > a > i {
	opacity: .4;
}

.nav-tabs.nav-stacked > li > a:hover > i {
	opacity: .8;
}

.nav-tabs.nav-stacked > li > a:hover {
  	margin: 1px 0px 0px 0px;
	color: #fff;
  	border-top: 1px solid transparent;
  	border-bottom: 1px solid #0a0c0e;
	border-left: none;
	border-right: none;
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#40000000',GradientType=0 ); /* IE6-8 */
}

.nav-tabs.nav-stacked  > li.active > a {
	margin: 1px 0px 0px 0px;
  	border-top: 1px solid transparent;
  	border-bottom: 1px solid #0a0c0e;
	border-left: none;
	border-right: none;
  	color: #fff;
  	background: rgba(0,0,0,.45);
	text-shadow: 0px 1px 1px #000;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.45), inset 0 0px 1px rgba(0,0,0,0.25);
	   -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.45), inset 0 0px 1px rgba(0,0,0,0.25);
	   		box-shadow: inset 0 1px 1px rgba(0,0,0,0.45), inset 0 0px 1px rgba(0,0,0,0.25);
  	-webkit-border-radius: 0px;
       -moz-border-radius: 0px;
          	border-radius: 0px;
}

.nav-tabs.nav-stacked > li:first-child > a {
	margin: 0px 0px 0px 0px;
  	-webkit-border-radius: 0px;
       -moz-border-radius: 0px;
          	border-radius: 0px;
}

.nav-tabs.nav-stacked > li:last-child > a {
  	-webkit-border-radius: 0px;
       -moz-border-radius: 0px;
          	border-radius: 0px;
}

.circleStats {
	display: none;
}

.ui-slider-handle { 
	background: #eee !important;
	height:10px !important;
	width:10px !important;
	margin: 2px 0px !important;
}

footer {
	margin: -20px -20px 0px -20px;
	padding: 10px 20px;
	position: relative;
	z-index: 2;
}