<!DOCTYPE html>
<html lang="en">
<head>
	
	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>Jobs</title>
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->
	
	<!-- start: CSS -->
	<link id="bootstrap-style" href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
	<link id="base-style" href="css/style.css" rel="stylesheet">
	<link id="base-style-responsive" href="css/style-responsive.css" rel="stylesheet">
	<link rel="stylesheet" media="screen" href="css/jquery.handsontable.full.css">
	
	<!--[if lt IE 7 ]>
	<link id="ie-style" href="css/style-ie.css" rel="stylesheet">
	<![endif]-->
	<!--[if IE 8 ]>
	<link id="ie-style" href="css/style-ie.css" rel="stylesheet">
	<![endif]-->
	<!--[if IE 9 ]>
	<![endif]-->
	
	<!-- end: CSS -->
	

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- start: Favicon -->
{# 	<link rel="shortcut icon" href="img/favicon.ico">#}
	<!-- end: Favicon -->
<style>

	.showcomplete{
		margin-left:15px;
		position:relative;
		bottom:4px;
	}
	.edittask{
		margin-right:6px;
	}
	.actions i{
		opacity:0.3;
	}
	.actions a i:hover{
		opacity:0.6;
	}
	.actions a:hover{
		text-decoration:none;
	}
	.actions{
		float:right;
	}
	.feedtable{
		margin-bottom:5px;
	}
	.post{
		
		font-size:13px;
	}
	
	.feed .updates table.feedtable td{
		padding-bottom:0px;
	}
	.date{
		font-size:11px;
	}
	.dp{
		width:30px;
	}
	.feedtable tr td:last-child{
		padding-left:0px;
	}
	.dpicon{
		font-size:1.5em;
	}
	.name{
		font-size:16px;
		font-weight:bold;
		margin-bottom:0px;
	}
/* 	.actions{ */
/* 		visibility:hidden; */
/* 	} */
	.addtask{
		margin-top:10px;
		display:none;
	}
	.jobs .well{
		padding:8px;
		
	}
	.taskname{
		text-transform:capitalize;
	}
	.separator{
		height:2px;
		background-color:lightgray;
		margin-bottom:10px;
	}
	.jobs .feedwell{
		padding-left:12px;
		padding-top:12px;
	}
	.feedwell h3{
		text-align:center;
		font-size:23px;
	}
	.meter{
		margin-bottom:10px;
	}
	.feedwell .feed p span.date{
		font-size:12px;
		font-weight:bold;
		text-color:lightblue;
	}
	.feedwell .feed .update{
		width:95%;
	}
	.taskform{
		margin-top:10px;
		margin-left:10px;
	}
	.taskform .complete{
		text-decoration:line-through;
	}
</style>	
		
		
		
</head>

<body>
		<div id="overlay">
		<ul>
		  <li class="li1"></li>
		  <li class="li2"></li>
		  <li class="li3"></li>
		  <li class="li4"></li>
		  <li class="li5"></li>
		  <li class="li6"></li>
		</ul>
	</div>	
	<!-- start: Header -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				
								
				<!-- start: Header Menu -->
				{% include 'topnav.twig' %}
				<!-- end: Header Menu -->
				
			</div>
		</div>
	</div>
	<!-- start: Header -->
	
		<div class="container-fluid">
		<div class="row-fluid">
				
		{% include 'adminnav.twig' %}
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<div id="content" class="span10">
			<!-- start: Content -->
			
			<div>
				<hr>
				<ul class="breadcrumb">
					<li>
						<a href="index.php">Home</a> <span class="divider">/</span>
					</li>
					<li>
						<a href="jobs.php">Jobs</a>
					</li>
				</ul>
				<hr>
			</div>
			<a href = "#addjobmodal" class = "btn btn-primary" data-toggle = "modal" style = "margin-bottom:10px;">Add a New Job <i class = "icon-plus icon-white"></i></a>
			{% if jobs is not defined %}
				<div class = "alert alert-error">
					<p id = 'nojobs'>No Jobs Added</p>
				</div>
			{% else %}
				{% for jobeach in jobs %}
					<div class = "row-fluid jobs" data-jobid = "{{ jobeach.job_id }}" data-clientid = "{{ jobeach.job_clientid }}">
						<div class = "span12 box" onTablet = "span12" onDesktop = "span12">
							<div class="box-header">
								<span class = 'box-text'>
								<h2><i class="icon-list"></i><span class="break"></span>
								
									<span class = 'jobname'>{{ jobeach.job_name }}</span></h2>
									{% if jobeach.job_completion == "100" %}
										
											<button class = "btn btn-success disabled showcomplete">
												<i class = "icon-ok icon-white"></i> 
												Complete
											</button>
									{% endif %}
								</span>
								<div class="box-icon">
								<a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
									<a href = "#" class = "job-edit"><i class = "icon-wrench"></i></a>
									<a href = "#" class = "job-delete"><i class = "icon-remove"></i></a>
									
									
								</div>
							</div>
							<div class = "box-content">
								<h2>Client: {{ jobeach.client_name }} ( {{ jobeach.org }} )</h2>
								
								<h3>Budget: $<span class = 'budget'>{{ jobeach.job_budget }}</span></h3>
								
								{% if jobeach.job_completion != "100" %}
									<h3>Estimated Date of Completion:
									{% if jobeach.eta is defined and jobeach.eta != ""%}
										{{ jobeach.eta }}
									{% else %}
										Not Defined
									{% endif %} 
								</h3>	
								{% endif %}
								
								
								<br/>
								
								<h3>Job Completion (<span class = 'jobcompletion'>{{ jobeach.job_completion }}</span>%)</h3>
								<div class = "progress progress-striped progress-success">
									<div class = "bar" style = "width:{{ jobeach.job_completion }}%"></div>
								</div>
								<div class = 'separator'></div>
								<div class = "row-fluid">
									<div class = "span5 ">
										<a href = "#" class = "btn addtaskbutton btn-small btn-block btn-info">Add a new Task</a>
										<form class = 'addtask'>
											<input type = 'text' class = 'span12' placeholder = "Task Name" name = 'task_name'/>
											 
											<div class="controls">
											  <div class="input-append input-prepend">
											  	<span class = "add-on">Time to Complete: </span>
												<input name = "task_eta" id="appendedPrependedInput" class = "task_eta span4" type="text">
												<span class="add-on">days</span>
											  </div>
											</div>
											
											<input type = 'hidden' value = '{{ jobeach.job_id }}' name = "task_jobid"/>
											<button class = 'btn btn-small btn-info addtasksubmit'>Add</button>
											<button class = 'btn btn-small btn-danger closetask'>Close</button>
										</form>
										
										<form class = 'taskform'>
											{% if jobeach.tasks is defined %}
												{% for task in jobeach.tasks %}
													<span class = 'task' data-taskid = '{{ task.task_id }}' data-tasketa = '{{ task.task_eta }}'>
													<input type = 'checkbox' class = 'complete' value = 'complete'
													
													{% if task.task_status == 'complete' %}
														checked = 'checked' />
														<span class = 'complete'>
													{% else %}
														/><span class = 'incomplete'>
													{% endif %}
														<span class = 'taskname'>{{ task.task_name }}</span>
														
													</span>
													
													<span class = 'actions' style = "margin-left:10px">
															<a href = "#" class = 'edittask'>
															<i class = 'icon-wrench'></i>
															</a>
															<a href = "#" class = 'deletetask'>
															<i class = 'icon-trash'></i>
															</a>
													</span>
													<br/>
													</span>
													
												{% endfor %}
											{% else %}
												<div class = "alert">
													No Tasks added
												</div>
											{% endif %}
											
										</form>
									</div>
									
									<div class = "span7 well feedwell">
										
										<div class = 'feed'>
										
											<div class = 'updates'>
											
											{% if jobeach.feed is defined %}
											<table class = 'table feedtable'>
												{% for story in jobeach.feed %}
													<tr>
														<td class = 'dp'>
															<button class = 'disabled btn'>
																<i class = "dpicon {% if story.admin_name == 'Ryan' %}fa-icon-briefcase{% elseif story.admin_name == 'Pete' %}fa-icon-beaker{% else %}fa-icon-user{% endif %}"></i>
															</button>
														</td>
														<td>
														
														<span class = 'date pull-right'>
															{{story.feed_date  }}
														</span>
														
														<p class = 'name'>{{ story.admin_name }}</p>
														<p class = 'post'>{{ story.feed_post }}</p>
														</td>
														</tr>
													
												{% endfor %}
												</table>
											{% else %}
												<table class = 'feedtable table'></table>
												<div class = "alert">
													No updates available
												</div>
											{% endif %}
											</div>
											<form  class = 'feedform' class = 'span12'>
												<textarea placeholder = 'Insert update here' class = 'update' cols = '100' rows = '1'></textarea>
											</form>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>	
				{% endfor %}
			{% endif %}
				
			
			<!-- end: Content -->
			</div><!--/#content.span10-->
				</div><!--/fluid-row-->
				
		<div class="modal hide fade" id="addjobmodal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h2 class = "pull-center">Add a new Job</h2>
			</div>
			<div class="modal-body">
				<form id = "addjobform">
					<label>Job Name</label>
					<input type = "text" name = "job_name" class = "span5" id = "jobname"/>
					<label>Client</label>
					<select class = "span5" name = "job_clientid" id = "clientid">
						<option value = "NULL">Please select a client</option>
						{% for client in clients %}
						<option value = "{{ client.client_id }}">{{ client.client_name }}</option>
						{% endfor %}
					</select>
					<label>Budget</label>
					
					<div class="controls">
					  <div class="input-prepend input-append">
						<span class="add-on">$</span>
						<input name = "job_budget" id="appendedPrependedInput" size="16" class = "inputbudget span2" type="text"><span class="add-on">.00</span>
					  </div>
					</div>
					
				</form>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Close</a>
				<button class="btn btn-primary" type = "submit" form = "addjobform" >Add</button>
			</div>
		</div>
		
		<div class="modal hide fade" id="editjobmodal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h2 class = "pull-center">Edit Job</h2>
			</div>
			<div class="modal-body">
				<form id = "editjobform">
					<label>Job Name</label>
					<input type = "text" name = "job_name" class = "span5" id = "editjobname"/>
					
					<label>Budget</label>
					
					<div class="controls">
					  <div class="input-prepend input-append">
						<span class="add-on">$</span>
						<input name = "job_budget" id="appendedPrependedInput" size="16" class = "editinputbudget span2" type="text"><span class="add-on">.00</span>
					  </div>
					</div>
					
					<input type = "hidden" value = "" name = "job_id" id = "editjobid"/>
					
				</form>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Close</a>
				<button class="btn btn-primary" type = "submit" form = "editjobform" >Update</button>
			</div>
		</div>
		
		<div class="modal hide fade" id="edittaskmodal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h2 class = "pull-center">Edit Task</h2>
			</div>
			<div class="modal-body">
				<form id = 'edittaskform'>
					<input type = 'text' class = 'input-xlarge' placeholder = "Task Name" id = 'edittaskname' name = 'task_name'/>
					 
					<div class="controls">
					  <div class="input-append input-prepend">
					  	<span class = "add-on">Time to Complete: </span>
						<input name = "task_eta" id="appendedPrependedInput" class = "edittasketa" type="text">
						<span class="add-on">days</span>
					  </div>
					</div>
					
					<input type = 'hidden' value = '' name = "task_id" id = "edittaskid"/>
					
				</form>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Close</a>
				<button class="btn btn-primary" type = "submit" form = "edittaskform" >Update</button>
			</div>
		</div>
		
		<div class="clearfix"></div>
		

				
	</div><!--/.fluid-container-->

	<!-- start: JavaScript-->

		<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/jquery-migrate-1.0.0.min.js"></script>
	
		<script src="js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="js/jquery.ui.touch-punch.js"></script>
	
		<script src="js/bootstrap.min.js"></script>
	
		<script src="js/jquery.cookie.js"></script>
	
		<script src='js/fullcalendar.min.js'></script>
	
		<script src='js/jquery.dataTables.min.js'></script>

		<script src="js/excanvas.js"></script>
	<script src="js/jquery.flot.min.js"></script>
	<script src="js/jquery.flot.pie.min.js"></script>
	<script src="js/jquery.flot.stack.js"></script>
	<script src="js/jquery.flot.resize.min.js"></script>
	
		<script src="js/jquery.chosen.min.js"></script>
	
		<script src="js/jquery.uniform.min.js"></script>
		
		<script src="js/jquery.cleditor.min.js"></script>
	
		<script src="js/jquery.noty.js"></script>
	
		<script src="js/jquery.elfinder.min.js"></script>
	
		<script src="js/jquery.raty.min.js"></script>
	
		<script src="js/jquery.iphone.toggle.js"></script>
	
		<script src="js/jquery.uploadify-3.1.min.js"></script>
	
		<script src="js/jquery.gritter.min.js"></script>
	
		<script src="js/jquery.imagesloaded.js"></script>
	
		<script src="js/jquery.masonry.min.js"></script>
	
		<script src="js/jquery.knob.js"></script>
	
		<script src="js/jquery.sparkline.min.js"></script>

		<script src="js/custom.js"></script>
		<script src="js/jquery.handsontable.full.js"></script>
		<script type="text/javascript" src = "js/jobs.js"></script>
		<!-- end: JavaScript-->
	
</body>
</html>
