			<!-- start: Main Menu -->
			<div class="span2 main-menu-span">
				<div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li><a href="dashboard.php"><i class="icon-home icon-white"></i><span class="hidden-tablet"> Dashboard</span></a></li>
						<li><a href="jobs.php"><i class="icon-edit icon-white"></i><span class="hidden-tablet"> Jobs</span></a></li>
						<li><a href="pending-jobs.php"><i class="icon-edit icon-white"></i><span class="hidden-tablet"> Pending Jobs</span></a></li>
						<li><a href="clients.php"><i class="icon-eye-open icon-white"></i><span class="hidden-tablet"> Clients</span></a></li>
						<li><a href="calendar.php"><i class="icon-calendar icon-white"></i><span class="hidden-tablet"> Calendar</span></a></li>
						<li>
							<a class="dropmenu" href="#"><i class="fa-icon-folder-close-alt"></i><span class="hidden-tablet"> To-do lists</span></a>
							<ul>
								<li><a class = "submenu" href = "todo.php"><i class = "fa-icon-file-alt"></i><span class = 'hidden-tablet'></span> My to-do</a></li>
								{% for admin in admins %}
									<li><a class="submenu" href="todo.php?id={{ admin.id }}"><i class="fa-icon-file-alt"></i><span class="hidden-tablet"> </span> {{ admin.name }}'s to-do</a></li>	
								{% endfor %}
								
								
							</ul>	
						</li>
{# 						<li>#}
{# 							<a class="dropmenu" href="#"><i class="fa-icon-folder-close-alt"></i><span class="hidden-tablet"> Dropdown</span></a>#}
{# 							<ul>#}
{# 								<li><a class="submenu" href="submenu.html"><i class="fa-icon-file-alt"></i><span class="hidden-tablet"> Sub Menu 1</span></a></li>#}
{# 								<li><a class="submenu" href="submenu.html"><i class="fa-icon-file-alt"></i><span class="hidden-tablet"> Sub Menu 2</span></a></li>#}
{# 								<li><a class="submenu" href="submenu.html"><i class="fa-icon-file-alt"></i><span class="hidden-tablet"> Sub Menu 3</span></a></li>#}
{# 							</ul>	#}
{# 						</li>#}
{# 						<li><a href="typography.html"><i class="icon-font icon-white"></i><span class="hidden-tablet"> Typography</span></a></li>#}
{# 						<li><a href="gallery.html"><i class="icon-picture icon-white"></i><span class="hidden-tablet"> Gallery</span></a></li>#}
{# 						<li><a href="table.html"><i class="icon-align-justify icon-white"></i><span class="hidden-tablet"> Tables</span></a></li>#}
{# 						<li><a href="calendar.html"><i class="icon-calendar icon-white"></i><span class="hidden-tablet"> Calendar</span></a></li>#}
{# 						<li><a href="grid.html"><i class="icon-th icon-white"></i><span class="hidden-tablet"> Grid</span></a></li>#}
{# 						<li><a href="file-manager.html"><i class="icon-folder-open icon-white"></i><span class="hidden-tablet"> File Manager</span></a></li>#}
{# 						<li><a href="icon.html"><i class="icon-star icon-white"></i><span class="hidden-tablet"> Icons</span></a></li>#}
{# 						<li><a href="login.html"><i class="icon-lock icon-white"></i><span class="hidden-tablet"> Login Page</span></a></li>#}
					</ul>
				</div><!--/.well -->
			</div><!--/span-->
			<!-- end: Main Menu -->
