<!DOCTYPE html>
<html lang="en">
<head>
	
	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>Dashboard</title>
	<meta name="description" content="Perfectum Dashboard Bootstrap Admin Template.">
	<meta name="author" content="Łukasz Holeczek">
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->
	
	<!-- start: CSS -->
	<link id="bootstrap-style" href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
	<link id="base-style" href="css/style.css" rel="stylesheet">
	<link id="base-style-responsive" href="css/style-responsive.css" rel="stylesheet">
	<link rel="stylesheet" media="screen" href="css/jquery.handsontable.full.css">
	
	<!--[if lt IE 7 ]>
	<link id="ie-style" href="css/style-ie.css" rel="stylesheet">
	<![endif]-->
	<!--[if IE 8 ]>
	<link id="ie-style" href="css/style-ie.css" rel="stylesheet">
	<![endif]-->
	<!--[if IE 9 ]>
	<![endif]-->
	
	<!-- end: CSS -->
	

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- start: Favicon -->
{# 	<link rel="shortcut icon" href="img/favicon.ico">#}
	<!-- end: Favicon -->
	
		
		
		
</head>

<body>
		<div id="overlay">
		<ul>
		  <li class="li1"></li>
		  <li class="li2"></li>
		  <li class="li3"></li>
		  <li class="li4"></li>
		  <li class="li5"></li>
		  <li class="li6"></li>
		</ul>
	</div>	
	<!-- start: Header -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				
								
				<!-- start: Header Menu -->
				{% include 'topnav.twig' %}
				<!-- end: Header Menu -->
				
			</div>
		</div>
	</div>
	<!-- start: Header -->
	
		<div class="container-fluid">
		<div class="row-fluid">
				
			{% include 'adminnav.twig' %}
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<div id="content" class="span10">
			<!-- start: Content -->
			
			<div>
				<hr>
				<ul class="breadcrumb">
					<li>
						<a href="#">Home</a> <span class="divider">/</span>
					</li>
					<li>
						<a href="#">Dashboard</a>
					</li>
				</ul>
				<hr>
			</div>
			
			<div class="row-fluid">
				
				
				<div class="circleStats">
                    
					<div class="span3" onTablet="span4" onDesktop="span3">
                    	<div class="circleStatsItem red">
							<i class="fa-icon-beaker"></i>
{# 							<span class="plus">+</span>#}
{# 							<span class="percent">%</span>#}
                        	<input type="text" value="{{ circlestats.working_jobs }}" class="orangeCircle" />
                    	</div>
						<div class="box-small-title">Working Jobs</div>
					</div>
					<div class="span3" onTablet="span4" onDesktop="span3">
                    	<div class="circleStatsItem blue">
                        	<i class="fa-icon-briefcase"></i>
{# 							<span class="plus">+</span>#}
{# 							<span class="percent">%</span>#}
                        	<input type="text" value="{{ circlestats.pending_jobs }}" class="blueCircle" />
                    	</div>
						<div class="box-small-title">Pending Jobs</div>
					</div>
					<div class="span3" onTablet="span4" onDesktop="span3">
						<div class="circleStatsItem green">
                        	<i class="fa-icon-money"></i>
{# 							<span class="plus">+</span>#}
{# 							<span class="percent">%</span>#}
                        	<input type="text" value="{{ circlestats.completed_jobs }}" class="greenCircle" />
                    	</div>
						<div class="box-small-title">Completed Jobs</div>
					</div>
					<div class="noMargin span3" onTablet="span4" onDesktop="span3">
						<div class="circleStatsItem pink">
                        	<i class="fa-icon-coffee"></i>
{# 							<span class="plus">+</span>#}
{# 							<span class="percent">%</span>#}
                        	<input type="text" value="{{ circlestats.coffee_cups }}" class="pinkCircle" />
                    	</div>
						<div class="box-small-title">Coffee this week</div>
					</div>
{# 					<div class="span2" onTablet="span4" onDesktop="span2">#}
{#                     	<div class="circleStatsItem green">#}
{#                         	<i class="fa-icon-bar-chart"></i>#}
{# 							<span class="plus">+</span>#}
{# 							<span class="percent">%</span>#}
{#                         	<input type="text" value="34" class="greenCircle" />#}
{#                     	</div>#}
{# 						<div class="box-small-title">Income</div>#}
{# 					</div>#}
{# 					<div class="span2" onTablet="span4" onDesktop="span2">#}
{# 						<div class="circleStatsItem lightorange">#}
{#                         	<i class="fa-icon-shopping-cart"></i>#}
{# 							<span class="plus">+</span>#}
{# 							<span class="percent">%</span>#}
{#                         	<input type="text" value="42" class="lightOrangeCircle" />#}
{#                     	</div>#}
{# 						<div class="box-small-title">Sales</div>#}
{# 					</div>#}

                </div>
			
			</div>
			
			<hr>
			
						<div class = "row-fluid">
					<div class = "span12 box" onTablet = "span12" onDesktop = "span12">
						<div class="box-header">
							<h2><i class="icon-list"></i><span class="break"></span>Current Inquiries</h2>
							<div class="box-icon">
								<a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
								<a href="#" class="btn-close"><i class="icon-remove"></i></a>
							</div>
						</div>
						<div class = "box-content">
							<div id = "excel">
							
							</div>
							<button class = "btn btn-primary" style = "margin-top:10px" id = "excelsave">Save</button>
						</div>
						
					</div>
				</div>
			
       
					<hr>
					
											<div class = "row-fluid">
					<div class = "span12 box" onTablet = "span12" onDesktop = "span12">
						<div class="box-header">
							<h2><i class="icon-list"></i><span class="break"></span>Pending Jobs Jobs</h2>
							<div class="box-icon">
								<a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
								<a href="#" class="btn-close"><i class="icon-remove"></i></a>
							</div>
						</div>
						<div class = "box-content">
							<div id = "pendingexcel">
							
							</div>
							<button class = "btn btn-primary" style = "margin-top:10px" id = "pendingexcelsave">Save</button>
						</div>
						
					</div>
				</div>
					<hr>
			<div class = "row-fluid">
				<div class="box span12" onTablet="span12" onDesktop="span12">
					<div class="box-header">
						<h2><i class="icon-signal"></i><span class="break"></span>Total Income</h2>
						<div class="box-icon">
{# 							<a href="#" class="btn-setting"><i class="icon-wrench"></i></a>#}
							<a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
{# 							<a href="#" class="btn-close"><i class="icon-remove"></i></a>#}
						</div>
					</div>
					<div class="box-content">
						<div id="revenue-chart"  class="center" style="height:300px" ></div>
					</div>
				</div>
			</div>
{# 			<div class="row-fluid">#}
				
{# 				<div class="box span8" onTablet="span12" onDesktop="span8">#}
{# 					<div class="box-header">#}
{# 						<h2><i class="icon-signal"></i><span class="break"></span>Site Statistics</h2>#}
{# 						<div class="box-icon">#}
{# 							<a href="#" class="btn-setting"><i class="icon-wrench"></i></a>#}
{# 							<a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>#}
{# 							<a href="#" class="btn-close"><i class="icon-remove"></i></a>#}
{# 						</div>#}
{# 					</div>#}
{# 					<div class="box-content">#}
{# 						<div id="stats-chart"  class="center" style="height:300px" ></div>#}
{# 					</div>#}
{# 				</div>#}
				
{# 				<div class="box span4 noMargin" onTablet="span12" onDesktop="span4">#}
{# 					<div class="box-header">#}
{# 						<h2><i class="icon-list"></i><span class="break"></span>Monthly Stats</h2>#}
{# 						<div class="box-icon">#}
{# 							<a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>#}
{# 							<a href="#" class="btn-close"><i class="icon-remove"></i></a>#}
{# 						</div>#}
{# 					</div>#}
{# 					<div class="box-content">#}
{# 						<div class="sparkLineStats">#}

{# 	                        <ul class="unstyled">#}
{# 	                            <li>#}
{# 									<span class="sparkLineStats1 "></span> #}
{# 									Visits: #}
{# 									<span class="number">356</span>#}
{# 								</li>#}
{# 	                            <li>#}
{# 	                                <span class="sparkLineStats2"></span>#}
{# 	                                Unique Visitors: #}
{# 	                                <span class="number">252</span>#}
{# 	                            </li>#}
{# 	                            <li><span class="sparkLineStats3"></span> #}
{# 	                                Pageviews: #}
{# 	                                <span class="number">781</span>#}
{# 	                            </li>#}
{# 	                            <li><span class="sparkLineStats4"></span>#}
{# 	                                Pages / Visit: #}
{# 	                                <span class="number">2,19</span>#}
{# 	                            </li>#}
{# 	                            <li><span class="sparkLineStats5"></span>#}
{# 	                                Avg. Visit Duration: #}
{# 	                                <span class="number">00:02:58</span>#}
{# 	                            </li>#}
{# 	                            <li><span class="sparkLineStats6"></span>#}
{# 	                                Bounce Rate: <span class="number">59,83%</span>#}
{# 	                            </li>#}
{# 	                            <li><span class="sparkLineStats7"></span>#}
{# 	                                % New Visits: #}
{# 	                                <span class="number">70,79%</span>#}
{# 	                            </li>#}
{# 	                            <li><span class="sparkLineStats8"></span>#}
{# 	                                % Returning Visitor: #}
{# 	                                <span class="number">29,21%</span>#}
{# 	                            </li>#}

{# 	                        </ul>#}
	
{# 	                    </div><!-- End .sparkStats -->#}
{# 					</div>#}
{# 				</div><!--/span-->#}
				
{# 			</div>#}
			
			<hr>

	
			<!-- end: Content -->
			</div><!--/#content.span10-->
				</div><!--/fluid-row-->
				
		<div class="modal hide fade" id="myModal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Settings</h3>
			</div>
			<div class="modal-body">
				<p>Here settings can be configured...</p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Close</a>
				<a href="#" class="btn btn-primary" id = "saveexcel">Save changes</a>
			</div>
		</div>
		
		<div class="clearfix"></div>
		

				
	</div><!--/.fluid-container-->

	<!-- start: JavaScript-->

		<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/jquery-migrate-1.0.0.min.js"></script>
	
		<script src="js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="js/jquery.ui.touch-punch.js"></script>
	
		<script src="js/bootstrap.min.js"></script>
	
		<script src="js/jquery.cookie.js"></script>
	
		<script src='js/fullcalendar.min.js'></script>
	
		<script src='js/jquery.dataTables.min.js'></script>

		<script src="js/excanvas.js"></script>
	<script src="js/jquery.flot.min.js"></script>
	<script src="js/jquery.flot.pie.min.js"></script>
	<script src="js/jquery.flot.stack.js"></script>
	<script src="js/jquery.flot.resize.min.js"></script>
	
		<script src="js/jquery.chosen.min.js"></script>
	
		<script src="js/jquery.uniform.min.js"></script>
		
		<script src="js/jquery.cleditor.min.js"></script>
	
		<script src="js/jquery.noty.js"></script>
	
		<script src="js/jquery.elfinder.min.js"></script>
	
		<script src="js/jquery.raty.min.js"></script>
	
		<script src="js/jquery.iphone.toggle.js"></script>
	
		<script src="js/jquery.uploadify-3.1.min.js"></script>
	
		<script src="js/jquery.gritter.min.js"></script>
	
		<script src="js/jquery.imagesloaded.js"></script>
	
		<script src="js/jquery.masonry.min.js"></script>
	
		<script src="js/jquery.knob.js"></script>
		<script src = "js/highcharts.js"></script>
		<script src="js/jquery.sparkline.min.js"></script>

		<script src="js/custom.js"></script>
		<script src="js/jquery.handsontable.full.js"></script>
		<script type="text/javascript">
	
	
	function message_welcome1(){
		var unique_id = $.gritter.add({
			// (string | mandatory) the heading of the notification
			title: 'Welcome back {{ shortname }}!' ,
			time: 1000,
			// (string | mandatory) the text inside the notification
			text: 'You have {{  navnotifications|length }} new notification(s)',
			// (string | optional) the image to display on the left
			//image: 'img/avatar.jpg',
			// (bool | optional) if you want it to fade out on its own or just sit there
			sticky: false,
			// (int | optional) the time you want it to be alive for before fading out
			time: '',
			// (string | optional) the class name you want to apply to that specific message
			class_name: 'gritter-dark'
		});
	}

	function save_data(){
		
	}
	$(document).ready(function(){
		setTimeout("message_welcome1()",2000);
		  var data = [
		              {% if excel|length > 0 %}
		              	{%  for entry in excel%}
		              	[	
			              	"{{ entry.excel_jobname}}",
			              	"{{ entry.excel_clientname }}",
			              	"{{ entry.excel_organization }}",
			              	"{{ entry.excel_email }}",
			              	"{{ entry.excel_phone }}",
			              	"{{ entry.excel_date }}",
			              	"{{ entry.excel_status }}"],
		              	{% endfor %}
		              {% endif %}
		            ];
		  var len = data.length;
          for(i = 0; i < len; i++){
              for (j = 0; j < 7; j++){
                  if(data[i][j] == "null"){
                      data[i][j] = "";
                  }
              }
          }
          
		$("#excel").handsontable({
				width:500,
				minRows:5,
				minCols:7,
				width:950,
				contextMenu:["row_above","row_below","remove_row","undo","redo","hsep3"],
				{% if excel|length >0 %}
				data:data,
				{% endif  %}
				colWidths:[200,150,150,150,125,75,100],
				colHeaders:["Job Title","Client Name","Organization","Email","Phone","Date","Status"],
				
		});

		$("#excelsave").click(function(){
			//console.log("click");
			var savedata = $("#excel").handsontable("getData");
			//console.log(savedata);
			var length = savedata.length;
			var postdata = "";
			for(var i = 0; i < length; i++){
				if((savedata[i][0] == null || savedata[i][0] == "") && (savedata[i][1] == null || savedata[i][1] == "") &&(savedata[i][2] == null || savedata[i][2] == "") ){
					if(i == 0){
						showerror("Spreadsheet is empty");
						break;
					}	
				}
				else{
					postdata += "job_title%5B%5D=" +  savedata[i][0] + "&client_name%5B%5D=" + savedata[i][1] + "&organization%5B%5D=" + savedata[i][2] +
					"&email%5B%5D=" + savedata[i][3] + "&phone%5B%5D=" + savedata[i][4] + "&date%5B%5D=" + savedata[i][5] +"&status%5B%5D=" + savedata[i][6] + "&";
				}
			}
			if(postdata != ""){
				postdata = postdata.slice(0,-1);
				console.log(postdata);
				$.ajax({
					url:"ajaxapi/excel.php",
					type:"POST",
					data:postdata,
					dataType:"JSON",
					success:function(data){
						if(data.status == "success"){
							showsuccess("Pending Jobs successfully saved");
						}	
						else{
							showerror(data.message);
						}
					},
					error:function(){
						showerror("An error occurred. Please try again later");
					}
				});
			}
		});
				

		var revenue = [
		                 {% for revenue in revenuelist %}
		                 [Date.UTC({{ revenue.year }},{{ revenue.month }},{{ revenue.day }}),{{ revenue.revenue}}],
		                 {% endfor %}];

        $("#revenue-chart").highcharts({
            chart: {
                type: 'spline',
            },
            title: {
                text: 'Company Revenue',
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: { // don't display the dummy year
                    month: '%e. %b',
                    year: '%b',
                },
            },
            yAxis: {
                title: {
                    text: 'Revenue ($)',
                },
                min: 0
            },
            tooltip: {
               
            },
			series:[{
				name:"Revenue",
				data:revenue,	
			},],            
            
        });

    
		
		
	});			
	</script>
		<!-- end: JavaScript-->
	
</body>
</html>
