<!DOCTYPE html>
<html lang="en">
<head>
	
	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>Dashboard</title>
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->
	
	<!-- start: CSS -->
	<link id="bootstrap-style" href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
	<link id="base-style" href="css/style.css" rel="stylesheet">
	<link id="base-style-responsive" href="css/style-responsive.css" rel="stylesheet">
	<link rel="stylesheet" media="screen" href="css/jquery.handsontable.full.css">
	
	<!--[if lt IE 7 ]>
	<link id="ie-style" href="css/style-ie.css" rel="stylesheet">
	<![endif]-->
	<!--[if IE 8 ]>
	<link id="ie-style" href="css/style-ie.css" rel="stylesheet">
	<![endif]-->
	<!--[if IE 9 ]>
	<![endif]-->
	
	<!-- end: CSS -->
	

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- start: Favicon -->
{# 	<link rel="shortcut icon" href="img/favicon.ico">#}
	<!-- end: Favicon -->
<style>

	.feedtable{
		margin-bottom:5px;
	}
	.post{
		
		font-size:13px;
	}
	
	.feed .updates table.feedtable td{
		padding-bottom:0px;
	}
	.date{
		font-size:11px;
	}
	.dp{
		width:30px;
	}
	.feedtable tr td:last-child{
		padding-left:0px;
	}
	.dpicon{
		font-size:1.5em;
	}
	.name{
		font-size:16px;
		font-weight:bold;
		margin-bottom:0px;
	}
	.taskname{
		text-transform:capitalize;
	}
	.separator{
		height:2px;
		background-color:lightgray;
		margin-bottom:10px;
	}
	.addtask{
		margin-top:10px;
		display:none;
	}
	.jobs .well{
		padding:8px;
		
	}
	.updateborder{
		height:1px;
		background-color:black;
		margin-bottom:4px;
	}
	.jobs .feedwell{
		padding-left:12px;
		padding-top:12px;
	}
	.feedwell h3{
		text-align:center;
		font-size:23px;
	}
	.showcomplete{
		margin-left:15px;
		position:relative;
		bottom:4px;
	}
	.meter{
		margin-bottom:10px;
	}
	.showcomplete{
		margin-left:15px;
		position:relative;
		bottom:4px;
	}
	
	.feedwell .feed p span.date{
		font-size:12px;
		font-weight:bold;
		text-color:lightblue;
	}
	.feedwell .feed .update{
		width:95%;
	}
	.taskform{
		margin-top:10px;
		margin-left:10px;
	}
	.taskform .complete{
		text-decoration:line-through;
	}
</style>	
		
		
		
</head>

<body>
		<div id="overlay">
		<ul>
		  <li class="li1"></li>
		  <li class="li2"></li>
		  <li class="li3"></li>
		  <li class="li4"></li>
		  <li class="li5"></li>
		  <li class="li6"></li>
		</ul>
	</div>	
	<!-- start: Header -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				
								
				<!-- start: Header Menu -->
				{% include 'topnav.twig' %}
				<!-- end: Header Menu -->
				
			</div>
		</div>
	</div>
	<!-- start: Header -->
	
		<div class="container-fluid">
		<div class="row-fluid">
				
			<!-- start: Main Menu -->
			<div class="span2 main-menu-span">
				<div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li><a href="dashboard.php"><i class="icon-home icon-white"></i><span class="hidden-tablet"> Dashboard</span></a></li>
{# 						<li><a href="jobs.php"><i class="icon-edit icon-white"></i><span class="hidden-tablet"> Jobs</span></a></li>#}
{# 						<li><a href="clients.php"><i class="icon-eye-open icon-white"></i><span class="hidden-tablet"> Clients</span></a></li>#}
{# 						<li><a href="calendar.php"><i class="icon-calendar icon-white"></i><span class="hidden-tablet"> Calendar</span></a></li>#}
{# 						<li>#}
{# 							<a class="dropmenu" href="#"><i class="fa-icon-folder-close-alt"></i><span class="hidden-tablet"> Dropdown</span></a>#}
{# 							<ul>#}
{# 								<li><a class="submenu" href="submenu.html"><i class="fa-icon-file-alt"></i><span class="hidden-tablet"> Sub Menu 1</span></a></li>#}
{# 								<li><a class="submenu" href="submenu.html"><i class="fa-icon-file-alt"></i><span class="hidden-tablet"> Sub Menu 2</span></a></li>#}
{# 								<li><a class="submenu" href="submenu.html"><i class="fa-icon-file-alt"></i><span class="hidden-tablet"> Sub Menu 3</span></a></li>#}
{# 							</ul>	#}
{# 						</li>#}
{# 						<li><a href="typography.html"><i class="icon-font icon-white"></i><span class="hidden-tablet"> Typography</span></a></li>#}
{# 						<li><a href="gallery.html"><i class="icon-picture icon-white"></i><span class="hidden-tablet"> Gallery</span></a></li>#}
{# 						<li><a href="table.html"><i class="icon-align-justify icon-white"></i><span class="hidden-tablet"> Tables</span></a></li>#}
{# 						<li><a href="calendar.html"><i class="icon-calendar icon-white"></i><span class="hidden-tablet"> Calendar</span></a></li>#}
{# 						<li><a href="grid.html"><i class="icon-th icon-white"></i><span class="hidden-tablet"> Grid</span></a></li>#}
{# 						<li><a href="file-manager.html"><i class="icon-folder-open icon-white"></i><span class="hidden-tablet"> File Manager</span></a></li>#}
{# 						<li><a href="icon.html"><i class="icon-star icon-white"></i><span class="hidden-tablet"> Icons</span></a></li>#}
{# 						<li><a href="login.html"><i class="icon-lock icon-white"></i><span class="hidden-tablet"> Login Page</span></a></li>#}
					</ul>
				</div><!--/.well -->
			</div><!--/span-->
			<!-- end: Main Menu -->
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<div id="content" class="span10">
			<!-- start: Content -->
			
			<div>
				<hr>
				<ul class="breadcrumb">
					<li>
						<a href="index.php">Home</a> <span class="divider">/</span>
					</li>
					<li>
						<a href="dashboard.php">Dashboard</a>
					</li>
				</ul>
				<hr>
			</div>
			
			{% if jobs is not defined or jobs|length == 0 %}
				<div class = "alert alert-error">
					<p id = 'nojobs'>No Jobs Added</p>
				</div>
			{% else %}
				{% for jobeach in jobs %}
					<div class = "row-fluid jobs" data-jobid = "{{ jobeach.job_id }}">
						<div class = "span12 box" onTablet = "span12" onDesktop = "span12">
							<div class="box-header">
								<h2><i class="icon-list"></i><span class="break"></span>{{ jobeach.job_name }}</h2>
								
								{% if jobeach.job_completion == "100" %}
											<button class = "btn btn-success disabled showcomplete">
												<i class = "icon-ok icon-white"></i> 
												Complete
											</button>
									{% endif %}
								<div class="box-icon">
									
									<a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
									
								</div>
							</div>
							<div class = "box-content">
								
								<h3>Budget: ${{ jobeach.job_budget }}</h3>
								{% if jobeach.job_completion != "100" %}
									<h3>Estimated Date of Completion:
									{% if jobeach.eta is defined and jobeach.eta != ""%}
										{{ jobeach.eta }}
									{% else %}
										Not Defined
									{% endif %}
								{% endif %} 
								
								
								<h3>Job Completion (<span class = 'jobcompletion'>{{ jobeach.job_completion }}</span>%)</h3>
								<div class = "progress progress-striped progress-success">
									<div class = "bar" style = "width:{{ jobeach.job_completion }}%"></div>
								</div>
								<div class = 'separator'></div>
								<div class = "row-fluid">
									<div class = "span5 ">
										<h3>Tasks</h3>
										
										<form class = 'taskform'>
											{% if jobeach.tasks is defined %}
												{% for task in jobeach.tasks %}
													<span class = 'task' data-taskid = '{{ task.task_id }}'>
													<input type = 'checkbox' class = 'complete' value = 'complete'
													disabled = "disabled"
													{% if task.task_status == 'complete' %}
														checked = 'checked' />
														<span class = 'complete'>
													{% else %}
														/><span class = 'incomplete'>
													{% endif %}
														<span class = 'taskname'>{{ task.task_name }}</span>
													</span>
													</span>
													<br/>
												{% endfor %}
											{% else %}
												<div class = "alert">
													No Tasks added
												</div>
											{% endif %}
											
										</form>
									</div>
									<div class = "span7 well feedwell">
										<h3>Updates from PTM</h3>
										<div class = 'updateborder'></div>
										<div class = 'feed'>
										
											<div class = 'updates'>
											
											{% if jobeach.feed is defined %}
												<table class = 'table feedtable'>
												{% for story in jobeach.feed %}
													<tr>
														<td class = 'dp'>
															<button class = 'disabled btn'>
																<i class = "dpicon {% if story.admin_name == 'Ryan' %}fa-icon-briefcase{% elseif story.admin_name == 'Pete' %}fa-icon-beaker{% else %}fa-icon-user{% endif %}"></i>
															</button>
														</td>
														<td>
														
														<span class = 'date pull-right'>
															{{story.feed_date  }}
														</span>
														
														<p class = 'name'>{{ story.admin_name }}</p>
														<p class = 'post'>{{ story.feed_post }}</p>
														</td>
														</tr>
													
												{% endfor %}
												</table>
											{% else %}
												<div class = "alert">
													No updates available
												</div>
											{% endif %}
											</div>
											
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>	
				{% endfor %}
			{% endif %}
				
			
			<!-- end: Content -->
			</div><!--/#content.span10-->
				</div><!--/fluid-row-->
				
		
		
		<div class="clearfix"></div>
		

				
	</div><!--/.fluid-container-->

	<!-- start: JavaScript-->

		<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/jquery-migrate-1.0.0.min.js"></script>
	
		<script src="js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="js/jquery.ui.touch-punch.js"></script>
	
		<script src="js/bootstrap.min.js"></script>
	
		<script src="js/jquery.cookie.js"></script>
	
		<script src='js/fullcalendar.min.js'></script>
	
		<script src='js/jquery.dataTables.min.js'></script>

		<script src="js/excanvas.js"></script>
	<script src="js/jquery.flot.min.js"></script>
	<script src="js/jquery.flot.pie.min.js"></script>
	<script src="js/jquery.flot.stack.js"></script>
	<script src="js/jquery.flot.resize.min.js"></script>
	
		<script src="js/jquery.chosen.min.js"></script>
	
		<script src="js/jquery.uniform.min.js"></script>
		
		<script src="js/jquery.cleditor.min.js"></script>
	
		<script src="js/jquery.noty.js"></script>
	
		<script src="js/jquery.elfinder.min.js"></script>
	
		<script src="js/jquery.raty.min.js"></script>
	
		<script src="js/jquery.iphone.toggle.js"></script>
	
		<script src="js/jquery.uploadify-3.1.min.js"></script>
	
		<script src="js/jquery.gritter.min.js"></script>
	
		<script src="js/jquery.imagesloaded.js"></script>
	
		<script src="js/jquery.masonry.min.js"></script>
	
		<script src="js/jquery.knob.js"></script>
	
		<script src="js/jquery.sparkline.min.js"></script>

		<script src="js/custom.js"></script>
		<script src="js/jquery.handsontable.full.js"></script>
		
		<script type = "text/javascript">

		function message_welcome1(){
			var unique_id = $.gritter.add({
				// (string | mandatory) the heading of the notification
				title: 'Welcome back {{ shortname }}!' ,
				time: 1000,
				// (string | mandatory) the text inside the notification
				text: 'You have {{  navnotifications|length }} new notification(s)',
				// (string | optional) the image to display on the left
				//image: 'img/avatar.jpg',
				// (bool | optional) if you want it to fade out on its own or just sit there
				sticky: false,
				// (int | optional) the time you want it to be alive for before fading out
				time: '',
				// (string | optional) the class name you want to apply to that specific message
				class_name: 'gritter-light'
			});

			{% if growlnotifications|length > 0 %}
			{% for job in growlnotifications %}
				$.gritter.add({
					// (string | mandatory) the heading of the notification
					title: 'Job Complete' ,
					time: 1000,
					// (string | mandatory) the text inside the notification
					text: 'Congratulations, your Job "{{ job }}" has been marked as complete! Please make your final payment to move forward',
					// (string | optional) the image to display on the left
					//image: 'img/avatar.jpg',
					// (bool | optional) if you want it to fade out on its own or just sit there
					sticky: false,
					// (int | optional) the time you want it to be alive for before fading out
					time: '',
					// (string | optional) the class name you want to apply to that specific message
					class_name: 'gritter-dark'	
				});
			{% endfor %}
			{% endif %}
		}
			$(document).ready(function(){
				setTimeout("message_welcome1()",2000);
				$("#notificationdropdown").unbind();
				$("#notificationdropdown").click(function(){
					$.ajax({
						url:"ajaxapi/clientmarkread.php",
						type:"POST",
						dataType:"JSON",
						success:function(data){
							if(data.status == "success"){
								$(".numnoty").html(0);
							}
						},
						error:function(){
							
						}
					});
				});
			});
		</script>
		
		<!-- end: JavaScript-->
	
</body>
</html>
