<!DOCTYPE html>
<html lang="en">
<head>
	
	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>Clients</title>
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->
	
	<!-- start: CSS -->
	<link id="bootstrap-style" href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
	<link id="base-style" href="css/style.css" rel="stylesheet">
	<link id="base-style-responsive" href="css/style-responsive.css" rel="stylesheet">
	<link rel="stylesheet" media="screen" href="css/jquery.handsontable.full.css">
	
	<!--[if lt IE 7 ]>
	<link id="ie-style" href="css/style-ie.css" rel="stylesheet">
	<![endif]-->
	<!--[if IE 8 ]>
	<link id="ie-style" href="css/style-ie.css" rel="stylesheet">
	<![endif]-->
	<!--[if IE 9 ]>
	<![endif]-->
	
	<!-- end: CSS -->
	

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- start: Favicon -->
{# 	<link rel="shortcut icon" href="img/favicon.ico">#}
	<!-- end: Favicon -->
	
		
		
		
</head>

<body>
		<div id="overlay">
		<ul>
		  <li class="li1"></li>
		  <li class="li2"></li>
		  <li class="li3"></li>
		  <li class="li4"></li>
		  <li class="li5"></li>
		  <li class="li6"></li>
		</ul>
	</div>	
	<!-- start: Header -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				
								
				<!-- start: Header Menu -->
				{% include 'topnav.twig' %}
				<!-- end: Header Menu -->
				
			</div>
		</div>
	</div>
	<!-- start: Header -->
	
		<div class="container-fluid">
		<div class="row-fluid">
				
			{% include 'adminnav.twig' %}
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<div id="content" class="span10">
			<!-- start: Content -->
			
			<div>
				<hr>
				<ul class="breadcrumb">
					<li>
						<a href="index.php">Home</a> <span class="divider">/</span>
					</li>
					<li>
						<a href="clients.php">Clients</a>
					</li>
				</ul>
				<hr>
			</div>
			
			<div class = "row-fluid">
				<div class = "span12 box" onTablet = "span12" onDesktop = "span12">
					<div class="box-header">
						<h2><i class="icon-list"></i><span class="break"></span>Clients</h2>
						
					</div>
					<div class = "box-content">
					<a href = "#addclientmodal" class = "btn btn-primary" data-toggle = "modal" style = "margin-bottom:10px;">Add a New Client <i class = "icon-plus icon-white"></i></a	>
						<table class = "table table-hover">
							<tr>
								<th>Client Name</th>
								<th>Organization</th>
								<th>Username</th>
								<th>Actions</th>
							</tr>
							
							{% for client in clients %}
							<tr data-clientid = "{{ client.client_id }}">
								<td>{{ client.client_name }}</td>
								<td>{{ client.client_organization }}</td>
								<td>{{ client.client_username }}</td>
								<td>
{# 									<button class = "btn btn-info btn-mini edit"><i class = "icon-pencil icon-white"></i></button>#}
									<button class = "btn btn-danger btn-mini delete"><i class = "icon-trash icon-white"></i></button>
									
								</td>
							</tr>
								
							{% endfor %}
								
							
						</table>
						
					</div>
					
				</div>
			</div>			
			
			<!-- end: Content -->
			</div><!--/#content.span10-->
				</div><!--/fluid-row-->
				
		<div class="modal hide fade" id="addclientmodal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h2 class = "pull-center">Add a new client</h2>
			</div>
			<div class="modal-body">
				<form id = "addclientform">
					<label>Client Name</label>
					<input type = "text" name = "client_name" class = "span5" id = "name"/>
					<label>Client Username</label>
					<input type = "text" name = "client_username" class = "span5" id = "username"/>
					<label>Organization</label>
					<input type = "text" name = "client_organization" class = "span5" id = "organization"/>
					<label>Client Password</label>
					<input type = "password" name = "client_password" class = "span5" id = "clientpass"/>
					<label>Confirm Password</label>
					<input type = "password" name = "client_confirmpassword" class = "span5" id = "confirmpass"/>
				</form>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Close</a>
				<button class="btn btn-primary" type = "submit" form = "addclientform" >Add</button>
			</div>
		</div>
		
		<div class="clearfix"></div>
		

				
	</div><!--/.fluid-container-->

	<!-- start: JavaScript-->

		<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/jquery-migrate-1.0.0.min.js"></script>
	
		<script src="js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="js/jquery.ui.touch-punch.js"></script>
	
		<script src="js/bootstrap.min.js"></script>
	
		<script src="js/jquery.cookie.js"></script>
	
		<script src='js/fullcalendar.min.js'></script>
	
		<script src='js/jquery.dataTables.min.js'></script>

		<script src="js/excanvas.js"></script>
	<script src="js/jquery.flot.min.js"></script>
	<script src="js/jquery.flot.pie.min.js"></script>
	<script src="js/jquery.flot.stack.js"></script>
	<script src="js/jquery.flot.resize.min.js"></script>
	
		<script src="js/jquery.chosen.min.js"></script>
	
		<script src="js/jquery.uniform.min.js"></script>
		
		<script src="js/jquery.cleditor.min.js"></script>
	
		<script src="js/jquery.noty.js"></script>
	
		<script src="js/jquery.elfinder.min.js"></script>
	
		<script src="js/jquery.raty.min.js"></script>
	
		<script src="js/jquery.iphone.toggle.js"></script>
	
		<script src="js/jquery.uploadify-3.1.min.js"></script>
	
		<script src="js/jquery.gritter.min.js"></script>
	
		<script src="js/jquery.imagesloaded.js"></script>
	
		<script src="js/jquery.masonry.min.js"></script>
	
		<script src="js/jquery.knob.js"></script>
	
		<script src="js/jquery.sparkline.min.js"></script>

		<script src="js/custom.js"></script>
		<script src="js/jquery.handsontable.full.js"></script>
		<script type="text/javascript" src = "js/clients.js"></script>
		<!-- end: JavaScript-->
	
</body>
</html>
