<!DOCTYPE html>
<html lang="en">
<head>
	
	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>Pending Jobs</title>
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->
	
	<!-- start: CSS -->
	<link id="bootstrap-style" href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
	<link id="base-style" href="css/style.css" rel="stylesheet">
	<link id="base-style-responsive" href="css/style-responsive.css" rel="stylesheet">
	<link rel="stylesheet" media="screen" href="css/jquery.handsontable.full.css">
	
	<!--[if lt IE 7 ]>
	<link id="ie-style" href="css/style-ie.css" rel="stylesheet">
	<![endif]-->
	<!--[if IE 8 ]>
	<link id="ie-style" href="css/style-ie.css" rel="stylesheet">
	<![endif]-->
	<!--[if IE 9 ]>
	<![endif]-->
	
	<!-- end: CSS -->
	

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- start: Favicon -->
{# 	<link rel="shortcut icon" href="img/favicon.ico">#}
	<!-- end: Favicon -->
	</head>
	<body>
	
	<div id="overlay">
		<ul>
		  <li class="li1"></li>
		  <li class="li2"></li>
		  <li class="li3"></li>
		  <li class="li4"></li>
		  <li class="li5"></li>
		  <li class="li6"></li>
		</ul>
	</div>	
	<!-- start: Header -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				
								
				<!-- start: Header Menu -->
				{% include 'topnav.twig' %}
				<!-- end: Header Menu -->
				
			</div>
		</div>
	</div>
	<!-- start: Header -->
	
		<div class="container-fluid">
			<div class="row-fluid">
				
		{% include 'adminnav.twig' %}
			
				<noscript>
					<div class="alert alert-block span10">
						<h4 class="alert-heading">Warning!</h4>
						<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
					</div>
				</noscript>
				
				<div id="content" class="span10">
				<!-- start: Content -->
				
					<div>
						<hr>
						<ul class="breadcrumb">
							<li>
								<a href="index.php">Home</a> <span class="divider">/</span>
							</li>
							<li>
								<a href="pending-jobs.php">Pending Jobs</a>
							</li>
						</ul>
						<hr>
					</div>
					<a href = "#addjobmodal" class = "btn btn-primary" data-toggle = "modal" style = "margin-bottom:10px;">Add a New Job <i class = "icon-plus icon-white"></i></a>
					{% if jobs is not defined %}
					<div class = "alert alert-error">
						<p id = 'nojobs' class = 'pull-center'>No Jobs Added</p>
					</div>
					{% else %}
						{% for jobeach in jobs %}
							<div class = "row-fluid jobs" data-jobid = "{{ jobeach.pjob_id  }}">
								<div class = "box-header">
									<span class = 'box-text'>
										<h2><i class="icon-list"></i><span class="break"></span>
								
										<span class = 'jobname'>{{ jobeach.pjob_name }}</span></h2>
										&nbsp;&nbsp;
										{% if jobeach.pjob_status == "pending" %}
											<span class = 'label label-warning'>
												Pending
											</span>
											<div style = "display:none" class = 'pjob_status'>pending</div>
										{% elseif jobeach.pjob_status == "call"%}
											<span class = 'label label-info'>
												Need Follow up call
											</span>
											<div style = "display:none" class = 'pjob_status'>call</div>
										{% elseif jobeach.pjob_status == "proposal" %}
											<span class = 'label label-important'>
												Need Proposal
											</span>
											<div style = "display:none" class = 'pjob_status'>proposal</div>
										
										{% elseif jobeach.pjob_status == "sent" %}
											<span class = 'label label-success'>
												Proposal Sent
											</span>
											<div style = "display:none" class = 'pjob_status'>sent</div>
										{% endif %} 
									</span>
									<div class="box-icon">
										<a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
										<a href = "#" class = "job-edit"><i class = "icon-wrench"></i></a>
										<a href = "#" class = "job-delete"><i class = "icon-remove"></i></a>
									
									
									</div>
								</div>
								<div class = "box-content">
									<div class = "row-fluid">
										<div class = "span6">
										<h2>Client Name: <span class = 'client_name'>{{ jobeach.pjob_clientname }}</span></h2>
										<h2>Organization: <span class = 'company_name'>{{ jobeach.pjob_companyname }}</span></h2>
										</div>
										<div class = "span4 offset2">
										<h2>Phone No.: <span class = 'phone'>{{ jobeach.pjob_phone }}</span></h2>
										<h2>Email: <span class = 'email'>{{ jobeach.pjob_email }}</span></h2>
										</div>
									</div>
									<hr>
									
									<h2>Description: <span class = 'description'>{{ jobeach.pjob_description }}</span></h2>
									
								</div>
							</div>
							<hr>
						{% endfor %}
					{% endif %}
					
				</div>
				
				
			</div>
		</div>
		
		<div class="modal hide fade" id="addjobmodal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h2 class = "pull-center">Add a new Job</h2>
			</div>
			<div class="modal-body">
				<form id = "pendingjobsform">
					<input type = "text" name = "pjob_name" class = "span5" placeholder = "Job Name"/><br/>
					<input type = "text" name = "pjob_clientname" class = "span5" placeholder = "Client Name"/><br/>
					<input type = "text" name = "pjob_organization" class = "span5" placeholder = "Organization"/><br/>
					<input type = "text" name = "pjob_email" class = 'span5' placeholder = "Email"/><br/>
					<input type = "text" name = "pjob_phone" class = "span5" placeholder = "Phone"/><br/>
					
					
					<select name = "pjob_status" name = "pjob_status" class = "span5">
						<option value = "NULL">Select Status</option>
						<option value = "pending">Pending</option>
						<option value = "call">Need Follow Up Call</option>
						<option value = "sent">Proposal Sent</option>
						<option value = "proposal">Need Proposal</option>
					</select>
					
					<textarea name = "pjob_description" class = "span5" rows = "4" placeholder = "Add a Description"></textarea>
					<input type = "hidden"  name = "pjob_id" value = "0" />
					<input type = "hidden" name = "action" value = "create"/>
					
				</form>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Close</a>
				<button class="btn btn-primary" type = "submit" form = "pendingjobsform" >Add</button>
			</div>
		</div>
		
		<!-- start: JavaScript-->

		<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/jquery-migrate-1.0.0.min.js"></script>
	
		<script src="js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="js/jquery.ui.touch-punch.js"></script>
	
		<script src="js/bootstrap.min.js"></script>
	
		<script src="js/jquery.cookie.js"></script>
	
		<script src='js/fullcalendar.min.js'></script>
	
		<script src='js/jquery.dataTables.min.js'></script>

		<script src="js/excanvas.js"></script>
	<script src="js/jquery.flot.min.js"></script>
	<script src="js/jquery.flot.pie.min.js"></script>
	<script src="js/jquery.flot.stack.js"></script>
	<script src="js/jquery.flot.resize.min.js"></script>
	
		<script src="js/jquery.chosen.min.js"></script>
	
		<script src="js/jquery.uniform.min.js"></script>
		
		<script src="js/jquery.cleditor.min.js"></script>
	
		<script src="js/jquery.noty.js"></script>
	
		<script src="js/jquery.elfinder.min.js"></script>
	
		<script src="js/jquery.raty.min.js"></script>
	
		<script src="js/jquery.iphone.toggle.js"></script>
	
		<script src="js/jquery.uploadify-3.1.min.js"></script>
	
		<script src="js/jquery.gritter.min.js"></script>
	
		<script src="js/jquery.imagesloaded.js"></script>
	
		<script src="js/jquery.masonry.min.js"></script>
	
		<script src="js/jquery.knob.js"></script>
	
		<script src="js/jquery.sparkline.min.js"></script>

		<script src="js/custom.js"></script>
		<script src="js/jquery.handsontable.full.js"></script>
		<script type="text/javascript" src = "js/pendingjobs.js"></script>
		<!-- end: JavaScript-->
		
	</body>
</html>