<!DOCTYPE html>
<html lang="en">
<head>
	
	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>Settings</title>
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->
	
	<!-- start: CSS -->
	<link id="bootstrap-style" href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
	<link id="base-style" href="css/style.css" rel="stylesheet">
	<link id="base-style-responsive" href="css/style-responsive.css" rel="stylesheet">
	<link rel="stylesheet" media="screen" href="css/jquery.handsontable.full.css">
	
	<!--[if lt IE 7 ]>
	<link id="ie-style" href="css/style-ie.css" rel="stylesheet">
	<![endif]-->
	<!--[if IE 8 ]>
	<link id="ie-style" href="css/style-ie.css" rel="stylesheet">
	<![endif]-->
	<!--[if IE 9 ]>
	<![endif]-->
	
	<!-- end: CSS -->
	

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- start: Favicon -->
{# 	<link rel="shortcut icon" href="img/favicon.ico">#}
	<!-- end: Favicon -->
	
		
		
</head>

<body>
		<div id="overlay">
		<ul>
		  <li class="li1"></li>
		  <li class="li2"></li>
		  <li class="li3"></li>
		  <li class="li4"></li>
		  <li class="li5"></li>
		  <li class="li6"></li>
		</ul>
	</div>	
	<!-- start: Header -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				
								
				<!-- start: Header Menu -->
				{% include 'topnav.twig' %}
				<!-- end: Header Menu -->
				
			</div>
		</div>
	</div>
	<!-- start: Header -->
	
		<div class="container-fluid">
		<div class="row-fluid">
				
		{% include 'adminnav.twig' %}
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<div id="content" class="span10">
			<!-- start: Content -->
			
			<div>
				<hr>
				<ul class="breadcrumb">
					<li>
						<a href="index.php">Home</a> <span class="divider">/</span>
					</li>
					<li>
						<a href="settings.php">Settings</a>
					</li>
				</ul>
				<hr>
			</div>
			
			<div class = "row-fluid">
				
				<div class = "span12 box" onTablet = "span12" onDesktop = "span12">
					<div class="box-header">
						<h2><i class="icon-list"></i><span class="break"></span>Personal Settings</h2>
						<div class="box-icon">
							
									<a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
{# 									<a href = "#" class = "job-delete"><i class = "icon-trash"></i></a>#}
						</div>
					</div>
					<div class = "box-content">
						<form action = "personal.php" method = "POST" id = "personalform">
							<label for = "username">Username: </label>
							<input type = "text" name = "username" class = "span7" id = "username" value = "{{ username }}" />
							<label for = "fullname">Name: </label>
							<input type = "text" name = "fullname" id = "fullname" class = "span7" value = "{{ fullname }}"/>
						</form>
						
						
						<button class = "btn" href = "#passwordchangemodal" data-toggle = "modal">Change Password</button>
						<button class = "btn btn-primary" form = "personalform" type = "submit">Update</button>
					</div>
				</div>
				
			</div>
			
			<div class = "row-fluid">
				<div class = "span12 box" onTablet = "span12" onDesktop = "span12">
					<div class = "box-header">
					<h2><i class="icon-list"></i><span class="break"></span>Stats</h2>
						<div class="box-icon">
							
						<a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
					</div>
				</div>
				
				<div class = "box-content">
					
					<form id = "statsform" action = "updatestats.php" method = "POST">
						<label for = "working_jobs">Working Jobs:</label>
						<input type = "text" id = "working_jobs" name = "working_jobs" value = "{{ circlestats.working_jobs }}" class = "input-xlarge"/>
						
						<label for = "pending_jobs">Pending Jobs:</label>
						<input type = "text" id = "pending_jobs" name = "pending_jobs" value = "{{ circlestats.pending_jobs }}" class = "input-xlarge"/>
						
						<label for = "completed_jobs">Completed Jobs:</label>
						<input type = "text" id = "completed_jobs" name = "completed_jobs" value = "{{ circlestats.completed_jobs }}" class = "input-xlarge"/>
						
						<label for = "coffee_cups">Cups of Coffee:</label>
						<input type = "text" id = "coffee_cups" name = "coffee_cups" value = "{{ circlestats.coffee_cups }}" class = "input-xlarge"/>
						<br/>
						<input type = "submit" value = "Update" class = "btn btn-info"/>
					</form>
				</div>
				
			</div>
			
			<div class = "row-fluid">
				<div class = "span12 box" onTablet = "span12" onDesktop = "span12">
					<div class="box-header">
						<h2><i class="icon-list"></i><span class="break"></span>Revenue</h2>
						<div class="box-icon">
							
									<a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
{# 									<a href = "#" class = "job-delete"><i class = "icon-trash"></i></a>#}
						</div>
					</div>
					<div class = "box-content">
						
						<button class = "btn" id = "togglerevenueform" style = "margin-bottom:10px;">Add a new Record <i class = "icon-plus"></i></button>
						
						<form id = "revenueform" method = "POST" action = "addrevenue.php" 
						style = "display:none;margin-bottom:20px;margin-top:20px;">
							<div class="control-group">
							  <label class="control-label" for="date">Date:</label>
							  <div class="controls">
								<input type="text" name = "date" class="input-xlarge datepicker" id="date" value="">
							  </div>
							</div>
							<div class = "control-groupd">
								<label class = "control-label" for = "revenue">Revenue:</label>
								<div class="input-prepend ">
									<span class="add-on">$</span>
									<input type = "text" name = "revenue" class = "input-xlarge" id = "revenue"/>
								</div>
							</div>
							
							<input type = "submit" class = 'btn btn-info' value = "Add Record"/>
							<button class = "btn btn-danger" id = "closerevenueform">Close</button>
						</form>
						
							{% if revenue|length == 0 %}
							<div class = "alert">
								No revenue records found 
							</div>
						{% else %}
							<table class = "table">
							<tr>
								<th>Sl No.</th>
								<th>Date</th>
								<th>Revenue</th>
							</tr>
							{% for money in revenue %}
								<tr>
									<td>{{ loop.index }}</td>
									<td>{{ money.revenue_date }}</td>
									<td>${{ money.revenue_amount }}</td>
								</tr>
							{% endfor %}
							<tr>
								<td colspan = "2"><b class = "pull-right">Total Revenue: </b>&nbsp;&nbsp;</td>
								<td><b>${{ totalrevenue }}</b></td>
							</tr>
							</table>
						{% endif %}
					</div>
				</div>
				
			</div>					
			
			<!-- end: Content -->
			</div><!--/#content.span10-->
				</div><!--/fluid-row-->
				

		
		<div class="clearfix"></div>
		
		<div class="modal hide fade" id="passwordchangemodal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h2 class = "pull-center">Add a new client</h2>
			</div>
			<div class="modal-body">
				<form id = "passwordchangeform" method = "POST">
					<label for = "oldpassword">Old Password</label>
					<input type = "password" name = "oldpassword" id = "oldpassword" class = "span5"/>
					<label for = "newpassword">New Password</label>
					<input type = "password" class = "span5" name = "newpassword" id = "newpassword">
					<label for = "confirmpassword">Confirm Password</label>
					<input type = "password" class = "span5" name = "confirmpassword" id = "confirmpassword"/>
					
				</form>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">Close</a>
				<button class="btn btn-primary" type = "submit" form = "passwordchangeform" >Add</button>
			</div>
		</div>
		

				
	</div><!--/.fluid-container-->

	<!-- start: JavaScript-->

		<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/jquery-migrate-1.0.0.min.js"></script>
	
		<script src="js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="js/jquery.ui.touch-punch.js"></script>
	
		<script src="js/bootstrap.min.js"></script>
	
		<script src="js/jquery.cookie.js"></script>
	
		<script src='js/fullcalendar.min.js'></script>
	
		<script src='js/jquery.dataTables.min.js'></script>

		<script src="js/excanvas.js"></script>
	<script src="js/jquery.flot.min.js"></script>
	<script src="js/jquery.flot.pie.min.js"></script>
	<script src="js/jquery.flot.stack.js"></script>
	<script src="js/jquery.flot.resize.min.js"></script>
	
		<script src="js/jquery.chosen.min.js"></script>
	
		<script src="js/jquery.uniform.min.js"></script>
		
		<script src="js/jquery.cleditor.min.js"></script>
	
		<script src="js/jquery.noty.js"></script>
	
		<script src="js/jquery.elfinder.min.js"></script>
	
		<script src="js/jquery.raty.min.js"></script>
	
		<script src="js/jquery.iphone.toggle.js"></script>
	
		<script src="js/jquery.uploadify-3.1.min.js"></script>
	
		<script src="js/jquery.gritter.min.js"></script>
	
		<script src="js/jquery.imagesloaded.js"></script>
	
		<script src="js/jquery.masonry.min.js"></script>
	
		<script src="js/jquery.knob.js"></script>
	
		<script src="js/jquery.sparkline.min.js"></script>

		<script src="js/custom.js"></script>
		<script src="js/jquery.handsontable.full.js"></script>
		<script type="text/javascript" src = "js/settings.js"></script>
		<!-- end: JavaScript-->
	
</body>
</html>
