<!DOCTYPE html>
<html lang="en">
<head>
	
	<!-- start: Meta -->
	<meta charset="utf-8">
	<title>{{ title }}</title>
	<meta name="description" content="Perfectum Dashboard Bootstrap Admin Template.">
	<meta name="author" content="Łukasz Holeczek">
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- end: Mobile Specific -->
	
	<!-- start: CSS -->
	<link id="bootstrap-style" href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
	<link id="base-style" href="css/style.css" rel="stylesheet">
	<link id="base-style-responsive" href="css/style-responsive.css" rel="stylesheet">
	<link rel="stylesheet" media="screen" href="css/jquery.handsontable.full.css">
	
	<!--[if lt IE 7 ]>
	<link id="ie-style" href="css/style-ie.css" rel="stylesheet">
	<![endif]-->
	<!--[if IE 8 ]>
	<link id="ie-style" href="css/style-ie.css" rel="stylesheet">
	<![endif]-->
	<!--[if IE 9 ]>
	<![endif]-->
	
	<!-- end: CSS -->
	

	<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- start: Favicon -->
{# 	<link rel="shortcut icon" href="img/favicon.ico">#}
	<!-- end: Favicon -->
	
	<style>
		.todo .todo-list .todo-actions{
			float:right;
			position:static;
		}
		
		.todo-list .complete,.todo-list,.incomplete{
			font-size:15px;
			text-transform:capitalize;
		}
		.todo-list .complete{
			text-decoration:line-through;
		}
		#addtodo{
			margin-top:5px;
			display:none;
		}
		#showform{
			margin-bottom:5px;
		}
	</style>
		
		
</head>

<body>
		<div id="overlay">
		<ul>
		  <li class="li1"></li>
		  <li class="li2"></li>
		  <li class="li3"></li>
		  <li class="li4"></li>
		  <li class="li5"></li>
		  <li class="li6"></li>
		</ul>
	</div>	
	<!-- start: Header -->
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				
								
				<!-- start: Header Menu -->
				{% include 'topnav.twig' %}
				<!-- end: Header Menu -->
				
			</div>
		</div>
	</div>
	<!-- start: Header -->
	
		<div class="container-fluid">
		<div class="row-fluid">
				
			{% include 'adminnav.twig' %}
			
			<noscript>
				<div class="alert alert-block span10">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
			
			<div id="content" class="span10">
			<!-- start: Content -->
			
			<div>
				<hr>
				<ul class="breadcrumb">
					<li>
						<a href="#">Home</a> <span class="divider">/</span>
					</li>
					<li>
						<a href="#">To Do</a>
					</li>
				</ul>
				<hr>
			</div>
			
			<div class = "row-fluid">
				<div class = "span6 offset3 box" onTablet = "span12" onDesktop = "span6">
					<div class = "box-header">
						<h2><i class="icon-list"></i><span class="break"></span>{{ title }}</h2>
					</div>
					<div class = "box-content">
						<div class="todo">
							<button class = "btn btn-block btn-small btn-info" id = "showform">
								Add a new item
							</button>
							
							<form id = "addtodo">
								<input type = "text" id = "taskname" name = "task_name" style = "width:96%" placeholder = "Task Name"/>
								<input type = "hidden" name = "admin_id" value = "{{ admin_id }}"/>
								<input type = "hidden" name = "action" value = "add"/>
								<button class = "btn btn-small btn-info" type = "submit">Add</button>
								<button class = "btn btn-small btn-danger" id = "closeform">Close</button>
							</form>
							<ul class="todo-list">
								{% if items|length > 0 %}
									{% for todo in items %}
									<li class = 'todo' data-todoid = '{{ todo.todo_id }}'>
										<span class = '{% if todo.todo_status == 'complete' %}complete{% else %}incomplete{% endif %}'>
										{{ todo.todo_item }}
										</span>
										{% if mine == true %}
											<span class = "todo-actions">
											{% if todo.todo_status == 'incomplete' %}
												<a href = "#" class = 'markread'><i class = "icon-ok"></i></a>
											{% endif %}
											<a href = "#" class = "todo-delete"><i class = "icon-remove"></i></a>
										</span>
										{% endif %}
										
									</li>
								{% endfor %}
								{% else %}
									<div class = 'alert'>
										Your To-do list is empty
									</div>
								{% endif %}
							</ul>
							
							
							
						</div>	
					</div>
					
				</div>
			</div>
			
			</div>
			</div>
			</div><!--/.fluid-container-->

	<!-- start: JavaScript-->

		<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/jquery-migrate-1.0.0.min.js"></script>
	
		<script src="js/jquery-ui-1.10.0.custom.min.js"></script>
	
		<script src="js/jquery.ui.touch-punch.js"></script>
	
		<script src="js/bootstrap.min.js"></script>
	
		<script src="js/jquery.cookie.js"></script>
	
		<script src='js/fullcalendar.min.js'></script>
	
		<script src='js/jquery.dataTables.min.js'></script>

		<script src="js/excanvas.js"></script>
	<script src="js/jquery.flot.min.js"></script>
	<script src="js/jquery.flot.pie.min.js"></script>
	<script src="js/jquery.flot.stack.js"></script>
	<script src="js/jquery.flot.resize.min.js"></script>
	
		<script src="js/jquery.chosen.min.js"></script>
	
		<script src="js/jquery.uniform.min.js"></script>
		
		<script src="js/jquery.cleditor.min.js"></script>
	
		<script src="js/jquery.noty.js"></script>
	
		<script src="js/jquery.elfinder.min.js"></script>
	
		<script src="js/jquery.raty.min.js"></script>
	
		<script src="js/jquery.iphone.toggle.js"></script>
	
		<script src="js/jquery.uploadify-3.1.min.js"></script>
	
		<script src="js/jquery.gritter.min.js"></script>
	
		<script src="js/jquery.imagesloaded.js"></script>
	
		<script src="js/jquery.masonry.min.js"></script>
	
		<script src="js/jquery.knob.js"></script>
		<script src = "js/highcharts.js"></script>
		<script src="js/jquery.sparkline.min.js"></script>

		<script src="js/custom.js"></script>
		<script src="js/jquery.handsontable.full.js"></script>
		<script type="text/javascript" src = "js/todo.js"></script>
		<!-- end: JavaScript-->
	
</body>
</html>
			