<a class="brand" href="index.php"> <span class="hidden-phone"><img style = "width:40%;margin-left:-15px;" src = 'img/ptmlogo-compact.png'/></span></a>
		
		<div class="nav-no-collapse header-nav">
					<ul class="nav pull-right">
						<li class="dropdown hidden-phone">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"  id = "notificationdropdown">
								<i class="icon-warning-sign icon-white"></i> <span class="label label-important hidden-phone"><span class = 'numnoty'>{{  navnotifications|length }}</span></span> 
							</a>
							<ul class="dropdown-menu notifications">
								<li>
									<span class="dropdown-menu-title">You have <span class = 'numnoty'>{{  navnotifications|length }}</span> new notifications</span>
									{% for noty in navnotifications%}
{# 										{% if loop.index0 < 6 %}#}
										<li>
		                                    <a href = "{{ noty.href }}">
		                                    + <i class="icon-user"></i> 
												<span class="message">{{ noty.notice }} </span> 
{# 												<span class="time">1 min</span> #}
		                                    </a>
		                                </li>
{# 										{% endif %}#}
									{% endfor %}
								</li>	
{#                             	 <li>#}
{#                             		<a class="dropdown-menu-sub-footer" href = "notifications.php">View all notifications</a>#}
{# 								</li>	#}
							</ul>
						</li>
						<!-- start: Notifications Dropdown -->
						{% if admin is defined %}
							<li class="dropdown hidden-phone">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="icon-tasks icon-white"></i> <span class="label label-warning hidden-phone">{{ navjobs|length }}</span>
							</a>
							<ul class="dropdown-menu tasks">
								<li>
									<span class="dropdown-menu-title">You have {{ navjobs|length }} jobs in progress</span>
                            	</li>
                            	
                            	{% if navjobs|length != 0 %}
                            		{% for job in navjobs %}
                            			<li>
	                                    <a href="#">
											<span class="header">
												<span class="title">{{ job.job_name }}</span>
												<span class="percent">{{ job.percent }}%</span>
											</span>
	                                        <div class="taskProgress progressSlim progressYellow">
	                                        	{{ job.percent }}
	                                        </div> 
	                                    </a>
	                                    
	                                    
                                	</li>
                            		{% endfor %}
                            	{% endif %}
								
                                
								<li>
                            		<a class="dropdown-menu-sub-footer" href = "jobs.php">View all Jobs</a>
								</li>	
							</ul>
						</li>
						<!-- end: Notifications Dropdown -->
						
						<li>
							<a class="btn" href="settings.php">
								<i class="icon-wrench icon-white"></i>
							</a>
						</li>
						{% endif %}
						<!-- start: User Dropdown -->
						<li class="dropdown">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="icon-user icon-white"></i>
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#" id = 'username'><i class="icon-user"></i> {{ name }}</a></li>
								<li><a href="logout.php"><i class="icon-off"></i> Logout</a></li>
							</ul>
						</li>
						<!-- end: User Dropdown -->
					</ul>
				</div>